# === 编译中间产物（体积最大的文件）===

*.pdb
*.lib
*.exp
*.ilk
*.idb
*.tlog
*.log
*.recipe

*.sln
*.vcxproj
*.filters



# === JUCE 生成的库代码 ===
JuceLibraryCode/

# === Visual Studio 临时文件 ===
.vs/
*.user
*.suo
*.aps
*.sdf
*.opensdf
*.VC.db
*.VC.opendb


# === macOS ===
.DS_Store

# === IDE / Editor ===
.idea/
.vscode/
*.swp

# === OS ===
Thumbs.db
desktop.ini

# === JUCE ===
*.exporters_lock

# === Builds 特定目录/文件 ===
**/Shared Code/
**/Resources/
**/Win32/
include_juce_audio_plugin_client_VST3.obj
include_juce_audio_plugin_client_Standalone.obj
